<p id="notice"><%= notice %></p>

<h1>Listing Drones</h1>

<br>



    <!-- Page Content -->
    <div class="container">



        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
        </div>

        <% @drones.each do |drone| %>

        <div class="col-lg-4 col-sm-6 text-center">
          <% if drone.image%>
            <%= link_to ( image_tag("#{drone.image[8]}")), drone_path(drone) %>
          <% elsif drone.uploads %>
            <%= link_to ( image_tag drone.uploads[0].uploaded_file.url(:thumb)), drone_path(drone) %>
          <% else %>
            <%= link_to ( image_tag("x_red.png")), drone_path(drone) %>
          <%end%>
        <h3><%=truncate(drone.title, :length => 25)%></h3>

        </div>
        <% end %>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row"
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
