<p id="notice"><%= notice %></p>

<h1>Listing Drones</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tv user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drones.each do |drone| %>
      <tr>
        <td><%= drone.id %></td>
        <td><%= drone.title %></td>
        <td><%= drone.user %></td>
        <td><%= link_to 'Show', drone %></td>
        <td><%= link_to 'Edit', edit_drone_path(drone) %></td>
        <td><%= link_to 'Destroy', drone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drone', new_drone_path %>
