<script>
$( document ).ready(function() {
  $( ".thumb" ).click(function() {
    $(".mainImage").attr('src', $(this).attr('original' ));
  });


  $( ".mainImage" ).mouseenter(function() {
    document.getElementById("icon").style.zIndex = "5";
  }).mouseleave(function() {
    document.getElementById("icon").style.zIndex = "-4";
  });

  $( "#icon" ).mouseenter(function() {
    document.getElementById("icon").style.zIndex = "5";
  }).mouseleave(function() {
    document.getElementById("icon").style.zIndex = "-4";
  });
});
</script>

<div>
    <h1><%= @drone.title %></h1>
  </div>
  <img id="icon" src="/images/guy.png" >
  <%= image_tag(@first_image, :class => "mainImage",  )%>


  <h2>FILE guru</h2>
  <% @drone.file_projects.each do |file| %>

    <%= image_tag(file.image[8], :class => "thumb", :original => file.image[12])%>

  <%end%>

  <%@drone.uploads.each do |file| %>
    <%if file.is_image_type?%>
      <%= image_tag(file.uploaded_file.url(:thumb), :class => "thumb", :original => file.uploaded_file.url(:original))%>
    <%end%>
  <%end%>
</div>






<!-- <%= link_to 'Edit', edit_drone_path(@drone) %> |
<%= link_to 'Back', drones_path %> -->
