<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><%= @drone.title %></h2>
    </div>

    <img id= "mainImage"  src= <%=@first_image%>  />

    <h2>FILE guru</h2>
    <% @drone.file_projects.each do |file| %>
  <img id= "thumb"  src= <%=file.image[8]%> />

</br>

<script>
$('#thumb').on({
    'click': function(){
        $('#mainImage').attr('src', '<%=file.image[12]%>');
    }
});
</script>
<% end %>

<% @drone.uploads.each do |file| %>

    <%if file.is_image_type?%>
      <img id= "thumb"  src= <%=file.uploaded_file.url(:thumb)%> />

</br>
    <script>
    $('#thumb').on({
        'click': function(){
            $('#mainImage').attr('src', '<%=file.uploaded_file.url(:original)%>');
        }
    });
    </script>
    <% end %>
  </br>

<!--

    window.onload =$( document ).ready (function() {
    thingiurlbase = "/js";
    thingiview = new Thingiview("viewer<%= file.uploaded_file_file_name %>");
    thingiview.setObjectColor('#C0D8F0');
    thingiview.initScene();
    thingiview.loadSTL("<%=file.uploaded_file.url(:original)%>");
    });
  </script>

   <div id="viewer<%= file.uploaded_file_file_name %>" style="width:300px;height:300px"></div>
-->
<% end %>

</div>



<!-- <%= link_to 'Edit', edit_drone_path(@drone) %> |
<%= link_to 'Back', drones_path %> -->
