

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><%= @drone.title %></h2>




        <h2>FILE guru</h2>
<% @drone.file_projects.each do |file| %>
  <p>
    <%= file.name %>
  </p>
<% end %>

<% @drone.uploads.each do |file| %>
  <p>
    <%= file.uploaded_file_file_name %>
  </p>
<% end %>

    </div>
</div>



<!-- <%= link_to 'Edit', edit_drone_path(@drone) %> |
<%= link_to 'Back', drones_path %> -->
